    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href=""> Matricular </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#/signup">Signup</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-6 my-auto">
            <div class="header-content mx-auto">
              <h3 class="mb-4">Solve Test ,View Your Statistics, Check Your Ability, Practice, Crack Mock Test, Make A Growth in Your career...! </h1>
              <h2 class="mb-2">Matricular </h1>
			  <h3 class="mb-5">- An Live Test Taking System.</h1>
			  <a href="#/signup" class="btn1 btn-outline btn-xl js-scroll-trigger">Take A test</a>
            </div>
          </div>
          <div class="col-lg-6 my-auto">
            
			   <img src="img/think-time.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </header>


